
@media (max-width:1024px){
    .logo{
        max-width: 120px !important;
    }
}
/* //FOr SLider Arrows */

.slick-prev {
    background-color: #df6a2d !important;
    border-radius: 50% !important;
    position: absolute !important;
    left: 8px !important;
    z-index: 1 !important;
}
.slick-next {
    background-color: #df6a2d !important;
    border-radius: 50% !important;
    position: absolute !important;
    right: 8px !important;
    z-index: 1 !important;
}
/* ///Tabs */
.css-1aquho2-MuiTabs-indicator{
    display: none !important;
}
